@model List<PumpedUpKicks.Models.ViewModels.CartItemViewModel>

@{ 
    ViewData["Title"] = "Index";
}

@if(Model.Count() > 0)
{
    <h3>Cart Page</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td><img src="@item.ImageUrl" /></td>
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                <td><a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a></td>
                <td><a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a></td>
            </tr>
            }
        </tbody>
    </table>
    <a href="../../shop/index">add item</a>
}
else
{
    <p>No Shopping Cart Item</p>
    <a href="../../shop/index">view shop</a>
    <br>
}